<section class="list-filter-container cars-list-filter">
    <mat-form-field class="app-form-field-suffix-btn" appearance="outline" color="accent" subscriptSizing="dynamic">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search">
        <button type="button" [disableRipple]="true" matSuffix mat-flat-button>
            <mat-icon>settings_heart</mat-icon>
        </button>
    </mat-form-field>

    <div class="btn-group">
        <button mat-flat-button color="accent">
            <mat-icon>add</mat-icon>
            Add Unit
        </button>
        <button mat-stroked-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
</section>