@font-face {
    font-family: 'Vazir';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
    font-family: 'noto';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/noto.ttf") format("truetype");
}

@font-face {
    font-family: 'iran_sans_mobile_light';
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/iran_sans_mobile_light.ttf") format("truetype");
}

@font-face {
    font-family: 'iran_sans_light';
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/iran_sans_light.ttf") format("truetype");
}

@font-face {
    font-family: 'ge';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/ge.otf') format('opentype');
}

@font-face {
    font-family: 'ge';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/ge.otf') format('opentype');
}

@font-face {
    font-family: 'ic_event';
    src: url('../assets/fonticon/ic_event.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}